<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>controller.login.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileParent</servlet-name>
        <servlet-class>controller.updateProfile.UpdateProfileParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>control.file.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewChild</servlet-name>
        <servlet-class>controller.updateProfile.AddNewChild</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProposal</servlet-name>
        <servlet-class>control.proposal.NewProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProposalView</servlet-name>
        <servlet-class>control.proposal.ProposalView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassList</servlet-name>
        <servlet-class>cotroller.list.ClassList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChildList</servlet-name>
        <servlet-class>cotroller.list.ChildList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminList</servlet-name>
        <servlet-class>cotroller.list.AdminList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCourse</servlet-name>
        <servlet-class>controller.course.addCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClass</servlet-name>
        <servlet-class>cotroller.list.ListClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileById</servlet-name>
        <servlet-class>controller.updateProfile.ProfileById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileChildById</servlet-name>
        <servlet-class>controller.updateProfile.ProfileChildById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileParentEdit</servlet-name>
        <servlet-class>controller.updateProfile.ProfileParentEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAnnouncement</servlet-name>
        <servlet-class>controller.announcement.NewAnnouncement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnouncementList</servlet-name>
        <servlet-class>controller.announcement.AnnouncementList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkillList</servlet-name>
        <servlet-class>cotroller.list.SkillList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adClassList</servlet-name>
        <servlet-class>cotroller.list.addClassList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteProposal</servlet-name>
        <servlet-class>control.proposal.VoteProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerClass</servlet-name>
        <servlet-class>cotroller.list.registerClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUsers</servlet-name>
        <servlet-class>controller.updateProfile.RemoveUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassRegistrationList</servlet-name>
        <servlet-class>cotroller.list.ClassRegistrationList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecisionRegistClass</servlet-name>
        <servlet-class>cotroller.list.DecisionRegistClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassManagement</servlet-name>
        <servlet-class>cotroller.list.ClassManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileChildv2</servlet-name>
        <servlet-class>controller.updateProfile.UpdateProfileChildv2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileChildByIdEdit</servlet-name>
        <servlet-class>controller.updateProfile.ProfileChildByIdEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkillClassList</servlet-name>
        <servlet-class>cotroller.list.SkillClassList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileChildAvatar</servlet-name>
        <servlet-class>control.file.UploadFileChildAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadDob</servlet-name>
        <servlet-class>control.file.FileUploadDob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadCertificate</servlet-name>
        <servlet-class>control.file.FileUploadCertificate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileParent</servlet-name>
        <url-pattern>/UpdateProfileParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewChild</servlet-name>
        <url-pattern>/AddNewChild</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProposal</servlet-name>
        <url-pattern>/NewProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProposalView</servlet-name>
        <url-pattern>/ProposalView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassList</servlet-name>
        <url-pattern>/class-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChildList</servlet-name>
        <url-pattern>/child-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminList</servlet-name>
        <url-pattern>/admin-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCourse</servlet-name>
        <url-pattern>/addCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClass</servlet-name>
        <url-pattern>/ListClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileById</servlet-name>
        <url-pattern>/ProfileById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileChildById</servlet-name>
        <url-pattern>/ProfileChildById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileParentEdit</servlet-name>
        <url-pattern>/ProfileParentEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAnnouncement</servlet-name>
        <url-pattern>/NewAnnouncement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnouncementList</servlet-name>
        <url-pattern>/AnnouncementList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adClassList</servlet-name>
        <url-pattern>/adClassList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteProposal</servlet-name>
        <url-pattern>/VoteProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerClass</servlet-name>
        <url-pattern>/registerClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/fileuploadservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkillList</servlet-name>
        <url-pattern>/skill-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUsers</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassRegistrationList</servlet-name>
        <url-pattern>/class-registration-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecisionRegistClass</servlet-name>
        <url-pattern>/decision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassManagement</servlet-name>
        <url-pattern>/class-management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileChildv2</servlet-name>
        <url-pattern>/UpdateProfileChildv2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileChildByIdEdit</servlet-name>
        <url-pattern>/ProfileChildByIdEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkillClassList</servlet-name>
        <url-pattern>/skill-child</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileChildAvatar</servlet-name>
        <url-pattern>/FileUpLoadChild</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadDob</servlet-name>
        <url-pattern>/FileUploadDob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadCertificate</servlet-name>
        <url-pattern>/FileUploadCertificate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
