<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>cotroller.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>cotroller.login.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>cotroller.login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileParent</servlet-name>
        <servlet-class>controller.updateProfile.UpdateProfileParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewChild</servlet-name>
        <servlet-class>controller.updateProfile.AddNewChild</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProposal</servlet-name>
        <servlet-class>control.proposal.NewProposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProposalView</servlet-name>
        <servlet-class>control.proposal.ProposalView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassList</servlet-name>
        <servlet-class>cotroller.list.ClassList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChildList</servlet-name>
        <servlet-class>cotroller.list.ChildList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminList</servlet-name>
        <servlet-class>cotroller.list.AdminList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCourse</servlet-name>
        <servlet-class>DController.addCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClass</servlet-name>
        <servlet-class>cotroller.list.ListClass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileParent</servlet-name>
        <url-pattern>/UpdateProfileParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewChild</servlet-name>
        <url-pattern>/AddNewChild</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProposal</servlet-name>
        <url-pattern>/NewProposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProposalView</servlet-name>
        <url-pattern>/ProposalView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassList</servlet-name>
        <url-pattern>/class-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChildList</servlet-name>
        <url-pattern>/child-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminList</servlet-name>
        <url-pattern>/admin-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCourse</servlet-name>
        <url-pattern>/addCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClass</servlet-name>
        <url-pattern>/ListClass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
